<header>
    <h1>Centro Médico Backend</h1>
    <div style="text-align: center;">
        <img src="https://us.123rf.com/450wm/syawalan/syawalan1911/syawalan191100544/134264679-plantilla-de-dise%C3%B1o-de-logotipo-para-cl%C3%ADnica-hospital-centro-m%C3%A9dico-m%C3%A9dico.jpg"
            height="60">
</header>
<main>
    <h2>Listado de pacientes</h2>
    <table border="solid">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Número de cédula</th>
                <th>Fecha de Nacimiento</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <!-- Se agrega el contenido dinamicamente por medio de Handlebars -->
        <tbody>
            {{#each resultado}}
            <tr>
                <td>{{nombres}}</td>
                <td>{{apellidos}}</td>
                <td>{{cedula}}</td>
                <td>{{formatoFecha fecha_nacimiento}}</td>
                <td>{{telefono}}</td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="boton-container">
        <a href="../index.html"> <input type="button" value="Volver"></a>
    </div>
</main>
<footer>
    <h2>Realizado por:</h2>
    <p>Yibel Morales Rey</p>
</footer>
</body>

</html>